@import-normalize; /* bring in normalize.css styles */

.header {
  background-color: #f5f5f5;
  color: rgba(10, 34, 74, 1);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 5px;
  position: relative;

  font-size: 30px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  justify-content: space-around;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-list {
  list-style: none;
  padding: 0;
}

.contact-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 20px;
}

.contact-form input {
  padding: 8px;
  margin-bottom: 10px;
}

.submit-button {
  background-color: #64b5f6;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #42a5f5;
}
.filter-input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.logout-button {
  width: 150px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.user-wrapper {
  position: relative;
  background-color: #f5f5f5;
  color: #fff;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  max-width: 1200px;
  margin: 0 auto;
}

.user-info {
  color: rgba(10, 34, 74, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;

  outline: 1px solid rgba(10, 34, 74, 1);
  padding: 5px 10px;

  border-radius: 5px;
}

.navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
  gap: 32px;
  display: flex;
  padding-bottom: 25px;
  padding-right: 30px;
}

.navigation-user:hover {
  color: red;
  border-radius: 5px;
}

.welcome-section {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
}

.welcome-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.welcome-list {
  list-style-type: none;
  padding: 0;
}

.welcome-item {
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 18px;
  line-height: 1.5;
  color: #666;
}

.welcome-text::before {
  content: '\2022';
  margin-right: 10px;
  color: #64b5f6;
  font-weight: bold;
  font-size: 20px;
}

.welcome-footer {
  color: #888;
}

.registration-container {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.registration-title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.registration-input {
  margin-bottom: 10px;
}

.registration-input label {
  font-size: 18px;
  color: #666;
}

.registration-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: flex-end;
}

.registration-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registration-button button {
  background-color: #64b5f6;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.registration-button button:hover {
  background-color: #42a5f5;
}
